<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container mt-4 text-center">
      <header>
        <%- include('partials/alert') %>
        <h2 class="mb-4 fw-bold"><%= title %></h2>
      </header>
      <% const slug = url.split('/').at(-1).toLowerCase() %>
      <form method="post">
        <% if (slug !== 'delete') { %>
        <div class="form-floating mb-3">
          <% const nameErr = locals.validationErrors?.name %>
          <input
            type="text"
            class="fw-bold form-control<%- nameErr ? ' is-invalid' : '' %>"
            name="name"
            id="name"
            autocomplete="off"
            placeholder="Enter Name"
            value="<%= locals.formData ? formData.name : '' %>"
            autofocus
          />
          <label for="name">Enter Name</label>
          <% if (nameErr) { %>
          <div class="invalid-feedback"><%= nameErr.msg %></div>
          <% } %>
        </div>
        <% } %>
        <a
          role="button"
          href="<%= parentId ? `${baseUrl}/${parentId}` : baseUrl %>"
          class="btn btn-lg btn-outline-secondary me-1"
        >
          Cancel
        </a>
        <button
          type="submit"
          class="btn btn-lg btn-outline-<%= slug === 'delete' ? 'danger' : 'primary' %> ms-1"
        >
          <%= (slug[0].toUpperCase() + slug.slice(1)) %>
        </button>
      </form>
    </div>
  </body>
</html>
