<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container mt-4">
      <%- include('partials/alert') %>
      <nav aria-label="breadcrumb">
        <% const trunc = (txt) => txt.length > 15 ? `${txt.slice(0, 12)}...` :
        txt %>
        <ol class="breadcrumb mb-1">
          <% if (!locals.file) { %>
          <li class="breadcrumb-item active" aria-current="page">MyFiles</li>
          <% } else { %>
          <li class="breadcrumb-item" aria-current="page">
            <a class="text-decoration-none" href="/files">MyFiles</a>
          </li>
          <% locals.parents?.forEach((p) => { %>
          <li class="breadcrumb-item" aria-current="page" title="<%= p.name %>">
            <a class="text-decoration-none" href="/files/<%= p.id %>">
              <%= trunc(p.name) %>
            </a>
          </li>
          <% }) %>
          <li
            class="breadcrumb-item active"
            aria-current="page"
            title="<%= file.name %>"
          >
            <%= trunc(file.name) %>
          </li>
          <% } %>
        </ol>
      </nav>
      <% if (locals.file) { %>
      <!-- prettier-ignore -->
      <div class="text-secondary mb-3" style="font-size: x-small;">
        Created at
        <%= new Date(file.createdAt).toLocaleString(
          "hc",
          { hour12: true, hourCycle: "h12", timeStyle: "short", dateStyle: "medium" }
        ) %>
      </div>
      <% } %>
      <!-- prettier-ignore -->
      <% if (Array.isArray(locals.files) && files.length > 0) { %>
      <!-- prettier-ignore -->
      <ul class="list-group">
        <%files.forEach((file) => { %>
          <li  class="list-group-item d-flex justify-content-between align-items-center fw-bold">
            <a href="/files/<%= file.id %>" class="text-decoration-none">
              <%= file.name %>
              <% if (!file.isDir) { %>
                <span class="badge text-bg-warning align-top text-primary" style="font-size: xx-small;">
                  File
                </span>
              <% } %>
            </a>
            <span class="d-inline-flex flex-column flex-md-row flex-wrap justify-content-end gap-2">
              <a href="<%= `${baseUrl}/${file.id}/rename` %>" role="button" class="btn btn-sm btn-outline-primary fw-bold" style="font-size: x-small;">Rename</a>
              <a href="<%= `${baseUrl}/${file.id}/delete` %>" role="button" class="btn btn-sm btn-outline-danger fw-bold" style="font-size: x-small;">Delete</a>
            </span>
          </li>
        <% }) %>
      </ul>
      <% } else if (locals.file && !file.isDir) { %>
      <h2 class="my-4 text-center"><%= file.name %></h2>
      <div class="my-5">
        <p class="d-flex flex-wrap justify-content-between border-bottom">
          <span class="fw-bold">Type</span>
          <span class="ms-auto"><%= file.metadata.mimetype %></span>
        </p>
        <p class="d-flex flex-wrap justify-content-between border-bottom">
          <span class="fw-bold">Size</span>
          <span class="ms-auto"><%= file.metadata.size %></span>
        </p>
        <p class="d-flex flex-wrap justify-content-between border-bottom">
          <span class="fw-bold">Uploaded</span>
          <!-- prettier-ignore -->
          <span class="ms-auto">
            <%= new Date(file.createdAt).toLocaleString(
              "hc",
              { hour12: true, hourCycle: "h12", timeStyle: "short", dateStyle: "medium" }
            ) %>
          </span>
        </p>
        <p class="d-flex flex-wrap justify-content-between border-bottom">
          <span class="fw-bold">Last Modified</span>
          <!-- prettier-ignore -->
          <span class="ms-auto">
            <%= new Date(file.updatedAt).toLocaleString(
              "hc",
              { hour12: true, hourCycle: "h12", timeStyle: "short", dateStyle: "medium" }
            ) %>
          </span>
        </p>
      </div>
      <!-- prettier-ignore -->
      <p class="d-flex flex-wrap gap-3 justify-content-evenly">
        <a href="<%= url %>/download" role="button" class="btn btn-outline-success fw-bold">
          Download
        </a>
        <a href="<%= url %>/rename" role="button" class="btn btn-outline-primary fw-bold">
          Rename
        </a>
        <a href="<%= url %>/delete" role="button" class="btn btn-outline-danger fw-bold">
          Delete
        </a>
      </p>
      <% } else { %>
      <p class="text-center text-body-secondary">
        There are no files or folders here! Consider
        <a class="link-offset-2" href="<%= url %>/create">creating a folder</a>
        or
        <a class="link-offset-2" href="<%= url %>/upload">uploading a file</a>.
      </p>
      <% } %>
    </div>
  </body>
</html>
