<nav
  class="navbar navbar-expand-lg bg-primary bg-gradient border-bottom fixed-top"
  data-bs-theme="dark"
>
  <div class="container">
    <h1>
      <a class="navbar-brand fs-3 fw-bold" href="/">Odin Files Uploader</a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/files' ? ' active' : '' %>"
            aria-current="page"
            href="/"
          >
            My Files
          </a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item fst-italic">
          <a
            class="nav-link<%- url === '/user' ? ' active' : '' %>"
            aria-current="page"
            href="/user"
          >
            <%= user.username %>
          </a>
        </li>
        <% if (locals.createDirUrl) { %>
        <li class="nav-item fst-italic">
          <a
            class="nav-link<%- url === createDirUrl ? ' active' : '' %>"
            aria-current="page"
            href="<%= createDirUrl %>"
          >
            Create Folder
          </a>
        </li>
        <% } %>
        <!-- prettier-ignore -->
        <% if (locals.uploadFileUrl) { %>
        <li class="nav-item fst-italic">
          <a
            class="nav-link<%- url === uploadFileUrl ? ' active' : '' %>"
            aria-current="page"
            href="<%= uploadFileUrl %>"
          >
            Upload File
          </a>
        </li>
        <% } %>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/logout' ? ' active' : '' %>"
            href="/user/logout"
            >Logout</a
          >
        </li>
        <% } else { %>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/login' ? ' active' : '' %>"
            href="/user/login"
          >
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link<%- url === '/signup' ? ' active' : '' %>"
            href="/user/signup"
          >
            Sign Up
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
